In [ ]:
#import the dataset using pandas and perform operations on it

In [1]:
import pandas as pd
data=pd.read_csv("IRIS.csv")
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# perform some operations in dataset

In [4]:
max=data['sepal_width'].max()   # to known maximum value in sepal_width
max

4.4

In [5]:
min=data['petal_length'].min()  # to known minimum value in petal_width
min

1.0

In [6]:
mean=data['petal_width'].mean()   # to known mean of the petal_width
mean

1.1986666666666668

In [7]:
std=data['sepal_length'].std()   #to known the standard deviation of sepal_length
std

0.8280661279778629

In [8]:
var=data['petal_width'].var()  # to known variance of petal_width
var

0.5824143176733784

In [9]:
median=data['sepal_width'].median()  #to known the median value of sepal_width
median

3.0

In [10]:
mode=data['sepal_length'].mode()
mode

0    5.0
Name: sepal_length, dtype: float64

In [15]:
data.iloc[[9]]   # to known the particular index

   sepal_length  sepal_width  petal_length  petal_width      species
9           4.9          3.1           1.5          0.1  Iris-setosa

In [16]:
data.iloc[9]

sepal_length            4.9
sepal_width             3.1
petal_length            1.5
petal_width             0.1
species         Iris-setosa
Name: 9, dtype: object

In [17]:
data.info()    #The info() method of DataFrame displays information such as the number of rows and columns, total memory usage, the data type of each column, and the count of non-NaN elements.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [18]:
data.describe()  #perform some basic opertion like mean,maximum,minimum,std,variance

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [21]:
data.size  # to known the total size of the dataset like row * column

750

In [22]:
len(data.columns) #to known the columns in dataset

5

In [25]:
len(data)  # to known the rows in given dataset

150

In [26]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [27]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica